# Control Flow

### Topics to be covered:
- Conditional Statements
- Boolean Expressions
- For and While Loops
- Break and Continue
- Zip and Enumerate
- List Comprehensions

### 1. Conditional Statements

#### If Statement
An __if statement__ is a conditional statement that runs or skips code based on whether a condition is True or False.
- An __if__ statement starts with the __if__ keyword, followed by the condition to be checked. The condition is specified in a boolean expression that evaluates to either True or False.
- After this line is an __indented block of code to be executed if that condition is true__.

In [1]:
phone_balance = 8
bank_balance = 100

if phone_balance < 5:
    phone_balance = phone_balance + 10
    bank_balance = bank_balance - 10
    
print(phone_balance, bank_balance)
# The indented lines of codes are not excuted, since the if statement results in False

8 100

In [2]:
phone_balance = 4
bank_balance = 100

if phone_balance < 5:
    phone_balance = phone_balance + 10
    bank_balance = bank_balance - 10
    
print(phone_balance, bank_balance)
# The indented lines of codes are executed because the condition in the if statement met

14 90

In [3]:
phone_balance = 3
bank_balance = 100

if phone_balance < 5:
    phone_balance = phone_balance + 10
    bank_balance = bank_balance - 10
    
print(phone_balance, bank_balance)

13 90

#### If, Elif, Else
- __if__: An __if__ statement must always start with an __if__ clause, which contains the __first condition__ that is checked. If this evaluates to __True__, Python runs the code indented in this if block and then skips to the rest of the code after the if statement.

- __elif__: __elif__ is short for "else if." An __elif__ clause is used to check for an __additional condition__ if the conditions in the previous clauses in the if statement evaluate to __False__. As you can see in the example, you can have multiple elif blocks to handle different situations.

- __else__: Last is the __else__ clause, which must come at the end of an if statement if used. This clause doesn't require a condition. The code in an else block is run if __all conditions above__ that in the if statement evaluate to __False__.

In [4]:
n = 1000

if n % 2 == 0:
    print('Number ' + str(n) + ' is even.' )
else:
    print('Number ' + str(n) + ' is odd')

Number 1000 is even.

In [5]:
n = 15

if n % 2 == 0:
    print('Number ' + str(n) + ' is even.' )
else:
    print('Number ' + str(n) + ' is odd')

Number 15 is odd

In [6]:
season = 'fall'

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

harvest the garden

In [7]:
season = 'Not Known'

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

unrecognized season

#### Python uses indentation to show where blocks of code begin and end
- For example, if statements use indentation to tell Python what code is inside and outside of different clauses.

In [8]:
age = 35

# Here are the age limits for bus fares
free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

# These lines determine the bus fare prices
concession_ticket = 1.25
adult_ticket = 2.50

# Here is the logic for bus fare prices
if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket
    
message = "Somebody who is {} years old will pay ${} to ride the bus.".format(age, ticket_price)
print(message)

Somebody who is 35 years old will pay $2.5 to ride the bus.

In [9]:
points = 174

if points <= 50:
    result = "Congratulations! You won a wooden rabbit!"
elif points <= 150:
    result = "Oh dear, no prize this time."
elif points <= 180:
    result = "Congratulations! You won a wafer-thin mint!"
else:
    result = "Congratulations! You won a penguin!"

print(result)

Congratulations! You won a wafer-thin mint!

In [10]:
answer = 35
guess = 30

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess==answer:
    result = "Nice!  Your guess matched the answer!"
print(result)

Oops!  Your guess was too low.

In [11]:
state = 'CA'
purchase_amount = 20.00    # a sample state and purchase amount

if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from CA, your total cost is 21.5.

In [12]:
state = 'NY'
purchase_amount = 100.00    # a sample state and purchase amount

if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from NY, your total cost is 108.89999999999999.

###  2. Complex Boolean Expressions
- If statements sometimes use more complicated boolean expressions for their conditions. They may contain multiple comparisons operators, logical operators, and even calculations.

In [13]:
weight = 80
height = 1.8
if 18.5 <= weight/height ** 2 < 25:
    print('BMI is considered "normal"')

BMI is considered "normal"

In [14]:
unsubscribed = False
location = 'CAN'
if (not unsubscribed) and (location == "USA" or location == "CAN"):
    print("send email")

send email

In [15]:
unsubscribed = False
location = 'UK'
if (not unsubscribed) and (location == "USA" or location == "CAN"):
    print("send email")

In [16]:
is_raining = True
is_sunny = False
if is_raining and is_sunny:
    print("Is there a rainbow?")

In [17]:
is_raining = True
is_sunny = False
if (is_raining) and (not is_sunny):
    print("Is there a rainbow?")

Is there a rainbow?

#### Good and Bad Examples

In [18]:
# Bad example
if True:
    print("This indented code will always get run.")

# Another bad example
is_cold = False
if is_cold or not is_cold:
    print("This indented code will always get run.")

This indented code will always get run.
This indented code will always get run.

In [19]:
# Be careful writing expressions that use logical operators
# Bad example
weather = 'rain'
if weather == "snow" or "rain":
    print("Wear boots!")

Wear boots!

In [20]:
# Don't compare a boolean variable with == True or == False
# Bad example
is_cold = True
if is_cold == True:
    print("The weather is cold!")
# Good example
if is_cold:
    print("The weather is cold!")

The weather is cold!
The weather is cold!

In [21]:
# Truth Value Testing
# In this code, errors has the truth value True because it is a non-zero number
errors = 3
if errors:
    print('You have {} errors to fix!'.format(errors))
else:
    print('No errors to fix!')

You have 3 errors to fix!

In [22]:
points = 174  # use this input when submitting your answer

# set prize to default value of None
prize = None

# use the value of points to assign prize to the correct prize name
if points <= 50:
    prize = "wooden rabbit"
elif 151 <= points <= 180:
    prize = "wafer-thin mint"
elif points >= 181:
    prize = "penguin"

# use the truth value of prize to assign result to the correct message
if prize:
    result = "Congratulations! You won a {}!".format(prize)
else:
    result = "Oh dear, no prize this time."
    
print(result)

Congratulations! You won a wafer-thin mint!

In [23]:
points = 70  # use this input when submitting your answer

# set prize to default value of None
prize = None

# use the value of points to assign prize to the correct prize name
if points <= 50:
    prize = "wooden rabbit"
elif 151 <= points <= 180:
    prize = "wafer-thin mint"
elif points >= 181:
    prize = "penguin"

# use the truth value of prize to assign result to the correct message
if prize:
    result = "Congratulations! You won a {}!".format(prize)
else:
    result = "Oh dear, no prize this time."
    
print(result)

Oh dear, no prize this time.

###  3. For Loops

- Python has two kinds of Loops - __for__ loops and __while__ loops.
- A __for__ loop is used to iterate or do something repeatedly, over an iterable.
- An __iterable item__ is an object that can return one of its elements at a time. This includes sequence types such as __strings, lists, tuples, as well as non-sequence types such as dictionaries and files.__

In [24]:
cities = ['new yor city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print('Done!')

new yor city
mountain view
chicago
los angeles
Done!

In [25]:
cities = ['new yor city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city.title())
print('Done!')

New Yor City
Mountain View
Chicago
Los Angeles
Done!

#### Understanding the syntax of __for__ loop
- The first line of the loop starts with the __for__ keyword, which signals that this is a loop.
- Following that is __city in cities__, where __city__ is the iteration variable, and __cities__ is the iterable being looped over
- The __for loop__ heading line always ends with __a colon :__
- Following the __for loop__ heading is an indented block of code, the body of the loop, to be executed in each iteration of this loop. There is only one line in the body of this loop - __print(city)__
- After the body of the loop has executed, we don't move on to the next line yet; we go back to the for heading line, where the iteration variable takes the value of the next element of the iterable. 
- This process repeats until the loop has iterated through all the elements of the iterable

In [26]:
# using range() function with for loops
# Note: range(start=0, stop, step=1)
for i in range(3):
    print('Hello!')

Hello!
Hello!
Hello!

In [27]:
my_list = []
for i in range(2, 100, 2):
    my_list.append(i)
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

#### Creating and modfying the list

In [28]:
# create a new list with for loop by creating an empty lists
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())
print(capitalized_cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [29]:
# modifying an existing list using the for loop
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()
print(cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [30]:
# for loop below that will print out every whole number that is a multiple of 5 and less than or equal to 30.
multiple_of_five = range(5, 35, 5)

for i in multiple_of_five:
    print(i)

5
10
15
20
25
30

In [31]:
# write for loop that converts
# converts from names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
# into usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

usernames = []

for name in names:
    usernames.append(name.lower().replace(' ', '_'))

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [32]:
# write for loop that uses range()
# converts from names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
# into usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]
usernames = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

# write your for loop here
for i in range(len(usernames)):
    usernames[i] = usernames[i].lower().replace(' ', '_')

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [33]:
# count the number of tags
tokens = ['<greeting>', 'Hello World!', '</greeting>']
count = 0

for token in tokens:
    if token[0] == '<' and token[-1] == '>':
        count = count + 1
print(count)

2

In [34]:
# create an html list
items = ['first string', 'second string']
html_str = "<ul>\n"          # The "\n" here is the end-of-line char, causing
                             # chars after this in html_str to be on next line

for item in items:
    html_str += "<li>{}</li>\n".format(item)
html_str += "</ul>"

print(html_str)

<ul>
<li>first string</li>
<li>second string</li>
</ul>

#### Interview Examples

In [35]:
# Interview Question
# We will change the case of each alphabet in the name
# Note we cannot mutate strings, but can mutate the list
my_name = 'Sakshi'
new_name = []
for i in range(0, len(my_name)):
        if i % 2 == 0:
            new_name.append(my_name[i].lower())
        else:
            new_name.append(my_name[i].upper())
print(', '.join(new_name).replace(', ', ''))

sAkShI

In [36]:
# Interview Question
# Alternate the cases of the elements in the list
my_name_list = ['sakshi', 'arora', 'janvi', 'xyz', 'pqr','abc']

for i in range(0, len(my_name_list)):
    if i % 2 == 0:
        my_name_list[i] = my_name_list[i].upper()
    else:
        my_name_list[i] = my_name_list[i].lower()
print(my_name_list)

['SAKSHI', 'arora', 'JANVI', 'xyz', 'PQR', 'abc']

###  4. Building Dictionaries
Two important concepts: 1) counting with for loops and 2) the dictionary get methods can actually be combined to create a useful counter dictionary,
- Method 1: Using a for loop to create a set of counters
- Method 2: Using the get method

#### Method 1: Using a for loop to create a set of counters
- Step 1: Create an empty dictionary.
- Step 2. Iterate through each element in the list. If an element is already included in the dictionary, add 1 to its value. If not, add the element to the dictionary and set its value to 1.

In [37]:
book_title =  ['great', 'expectations',
               'the', 'adventures', 'of', 
               'sherlock','holmes','the','great',
               'gasby','hamlet','adventures','of','huckleberry','fin']

In [38]:
# Step 1
word_counter = {}
# Step 2
for word in book_title:
    if word not in word_counter:
        word_counter[word] = 1
    else:
        word_counter[word] += 1
        
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

#### What's happening here?
- The __for__ loop iterates through each element in the list. For the first iteration, __word__ takes the value 'great'.
- Next, the if statement checks if __word__ is in the word_counter dictionary.
- Since it doesn't yet, the statement __word_counter[word] = 1__ adds great as a key to the dictionary with a value of 1.
- Then, it leaves the if else statement and moves on to the next iteration of the for loop. __word__ now takes the value expectations and repeats the process.
- When the if condition is not met, it is because thatword already exists in the __word_counter__ dictionary, and the statement __word_counter[word] = word_counter[word] + 1__ increases the count of that word by 1.
- Once the __for__ loop finishes iterating through the list, the __for__ loop is complete

#### Method 2: Using the get method
- Step 1: Create an empty dictionary.
- Step 2. Iterate through each element, get() its value in the dictionary, and add 1.

In [39]:
book_title =  ['great', 'expectations',
               'the', 'adventures', 'of', 
               'sherlock','holmes','the','great',
               'gasby','hamlet','adventures','of','huckleberry','fin']

In [40]:
# Step 1: Create an empty dictionary.
word_counter = {}
# Step 2. Iterate through each element, get() its value in the dictionary, and add 1.
for word in book_title:
    word_counter[word] = word_counter.get(word, 0) + 1
    
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

#### What's happening here?
- The __for__ loop iterates through the list as we saw earlier. The for loop feeds 'great' to the next statement in the body of the for loop.
- In this line: __word_counter[word] = word_counter.get(word,0) + 1__, since the key 'great' doesn't yet exist in the dictionary, get() will return the value 0 and __word_counter[word]__ will be set to 1.
- Once it encounters a word that already exists in __word_counter__ (e.g. the second appearance of 'the'), the value for that key is incremented by 1. On the second appearance of 'the', the key's value would add 1 again, resulting in 2.
- Once the for loop finishes iterating through the list, the for loop is complete.
- Printing word_counter shows us we get the same result as we did in method 1.

#### Syntax for get method
dictionary.get(keyname, value)
- __keyname__ :	Required. The keyname of the item you want to return the value from
- __value__ :	Optional. A value to return if the specified key does not exist. Default value None

In [41]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

In [42]:
for key in cast:
    print(key)

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards

In [43]:
for key, value  in cast.items():
    print('{}, {}'.format(key, value))

Jerry Seinfeld, Jerry Seinfeld
Julia Louis-Dreyfus, Elaine Benes
Jason Alexander, George Costanza
Michael Richards, Cosmo Kramer

In [44]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for key, value in basket_items.items():
    if key in fruits:
        result = result + value

print("There are {} fruits in the basket.".format(result))

There are 23 fruits in the basket.

###  5. While Loops
- The __while__ loop  has __indefinite iterations__ which is when a loop repeats an unknown number of times and ends when a some condition is met
- __for__ loops are an example of __"definite iteration"__ meaning that the loop's body is run a predefined number of times.

In [45]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand) <= 17:
    hand.append(card_deck.pop())
print(hand)

[10, 8]

#### Components of a While Loop
1. The first line starts with the while keyword, indicating this is a while loop.
2. Following that is a condition to be checked. In this example, that's sum(hand) <= 17.
3. The while loop heading always ends with a colon :.
4. Indented after this heading is the body of the while loop. If the condition for the while loop is true, the code lines in the loop's body will be executed.
5. We then go back to the while heading line, and the condition is evaluated again. This process of checking the condition and then executing the loop repeats until the condition becomes false.
6. When the condition becomes false, we move on to the line following the body of the loop, which will be unindented.
7. The indented body of the loop should modify at least one variable in the test condition. If the value of the test condition never changes, the result is an infinite loop!

In [46]:
card_deck = [189, 10000, 4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 100 or more
while sum(hand) < 100:
    hand.append(card_deck.pop())
print(hand)

[10, 8, 2, 13, 5, 8, 11, 4, 10000]

In [47]:
# Find the factorial of a number using a while loop.
number = 6
current = 1
factorial = 1

while current <= number:
    factorial = factorial * current
    current = current + 1
print(factorial)

720

In [48]:
number = 6   
product = 1

for num in range(1, number +1):
    product = product * num

print(product)

720

In [49]:
# Suppose you want to count from some number start_num by another number count_by until you hit a final number end_num.
start_num = 5
end_num = 100
count_by = 2
# After the loop is done, print out break_num, showing the value that indicated it was time to stop looping.
break_num = start_num
while break_num < end_num:
    break_num = break_num + count_by

print(break_num)

101

In [50]:
# Suppose you want to count from some number start_num by another number count_by until you hit a final number end_num.
# After the loop is done, print out break_num, showing the value that indicated it was time to stop looping.
# If someone gives a start_num that is greater than end_num. 
    # If this is the case, set result to "Oops! Looks like your start value is greater than the end value. Please try again." 
    # Otherwise, set result to the value of break_num.
start_num = 5
end_num = 100
count_by = 2   

if start_num > end_num:
    result = "Oops! Looks like your start value is greater than the end value. Please try again."

else:
    break_num = start_num
    while break_num < end_num:
        break_num += count_by

    result = break_num

print(result)

101

In [51]:
# Nearest Square
limit = 40
number = 1

# write your while loop here
num = 0
while (num+1)**2 < limit:
    num += 1
nearest_square = num**2

print(nearest_square)

36

###  6. Break, Continue
- Sometimes we need more control over when a loop should end, skip an iteration.
- We use __break__ and __continue__ keywords in such cases, which can be used in both __for__ and __while__ loops
- __break__ terminates the loop
- __continue__ skips one iteration of a loop

In [52]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

In [53]:
# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    if weight >= 100:
        break
    else:
        items.append(cargo_name)
        weight = weight + cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

In [54]:
# Detailed
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

In [55]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

In [56]:
# skips an iteration when adding an item would exceed the limit
# breaks the loop if weight is exactly the value of the limit
print("METHOD 2")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + cargo_weight > 100:
        print("  skipping {} ({})".format(cargo_name, cargo_weight))
        continue
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']

In [57]:
# Write a loop with a break statement to create a string, news_ticker, that is exactly 140 characters long.
# You should create the news ticker by adding headlines from the headlines list, inserting a space in between each headline.
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ''
for headline in headlines:
    news_ticker = news_ticker + headline + ' '
    if len(news_ticker) >= 140:
        news_ticker = news_ticker[:140]
        break
print(news_ticker)

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave

In [58]:
## Your code should check if each number in the list is a prime number
check_prime = [26, 39, 51, 53, 57, 79, 85]

# iterate through the check_prime list
for num in check_prime:

# search for factors, iterating through numbers ranging from 2 to the number itself
    for i in range(2, num):

# number is not prime if modulo is 0
        if (num % i) == 0:
            print("{} is NOT a prime number, because {} is a factor of {}".format(num, i, num))
            break

26 is NOT a prime number, because 2 is a factor of 26
39 is NOT a prime number, because 3 is a factor of 39
51 is NOT a prime number, because 3 is a factor of 51
57 is NOT a prime number, because 3 is a factor of 57
85 is NOT a prime number, because 5 is a factor of 85

###  7. Zip and Enumerate

#### zip
- zip returns an iterator that contains multiple iterables into one sequence of tuples. each contains the elements in that position from all the iterables.

In [59]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']
weights = [15, 34, 42, 120, 5]

list(zip(items, weights))

[('bananas', 15),
 ('mattresses', 34),
 ('dog kennels', 42),
 ('machine', 120),
 ('cheeses', 5)]

In [60]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']
weights = [15, 34, 42, 120, 5]

dict(zip(items, weights))

{'bananas': 15,
 'mattresses': 34,
 'dog kennels': 42,
 'machine': 120,
 'cheeses': 5}

In [61]:
list(zip(['a', 'b', 'c'], [1, 2, 3]))

[('a', 1), ('b', 2), ('c', 3)]

In [62]:
# Unzipping
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]

for letter, number in zip(letters, numbers):
    print('{}.{}'.format(letter, number))

a.1
b.2
c.3

In [63]:
# unzip a list into tuples using an asterisk.
some_list = [('a', 1), ('b', 2), ('c', 3)]
letters, nums = zip(*some_list)
print(letters)
print(nums)

('a', 'b', 'c')
(1, 2, 3)

In [64]:
# Zip Lists to a Dictionary
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [65]:
# Unzip Tuples
cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

names, heights = zip(*cast)
print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

In [66]:
# Transpose with Zip
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = tuple(zip(*data))
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

#### Enumerate
- enumerate is a built in function that returns an iterator of tuples containing indices and values of a list. You'll often use this when you want the index along with each element of an iterable in a loop.

In [67]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e

In [68]:
# Use enumerate to modify the cast list so that each element contains the name followed by the character's corresponding height.
# For example, the first element of cast should change from "Barney Stinson" to "Barney Stinson 72".

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# write your for loop here
for i, character in enumerate(cast):
    cast[i] = character + ' ' + str(heights[i])
    

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [69]:
# Enumerate
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, character in enumerate(cast):
    cast[i] = character + " " + str(heights[i])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

###  8. List Comprehensions

- You can craete lists quickly and concisely with list comprehensions

In [70]:
cities = ['new yor city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())
print(capitalized_cities)

['New Yor City', 'Mountain View', 'Chicago', 'Los Angeles']

In [71]:
capitalized_cities = [city.title() for city in cities]
print(capitalized_cities)

['New Yor City', 'Mountain View', 'Chicago', 'Los Angeles']

In [72]:
squares = []
for x in range(9):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [73]:
squares = [x**2 for x in range(9)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [74]:
squares = [x**2 for x in range(9) if x%2 ==0]
print(squares)

[0, 4, 16, 36, 64]

In [75]:
# If you want to add an else, you will get a syntax error doing this
# squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]
# print(squares)

In [76]:
# If you would like to add else, you have to move the conditionals to the beginning of the listcomp, right after the expression
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
print(squares)

[0, 4, 4, 6, 16, 8, 36, 10, 64]

In [77]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

#### Summary

In [78]:
# Create a dictionary that includes the count of Oscar nominations for each director in the nominations list
nominated = {1931: ['Norman Taurog', 'Wesley Ruggles', 'Clarence Brown', 'Lewis Milestone', 'Josef Von Sternberg'], 1932: ['Frank Borzage', 'King Vidor', 'Josef Von Sternberg'], 1933: ['Frank Lloyd', 'Frank Capra', 'George Cukor'], 1934: ['Frank Capra', 'Victor Schertzinger', 'W. S. Van Dyke'], 1935: ['John Ford', 'Michael Curtiz', 'Henry Hathaway', 'Frank Lloyd'], 1936: ['Frank Capra', 'William Wyler', 'Robert Z. Leonard', 'Gregory La Cava', 'W. S. Van Dyke'], 1937: ['Leo McCarey', 'Sidney Franklin', 'William Dieterle', 'Gregory La Cava', 'William Wellman'], 1938: ['Frank Capra', 'Michael Curtiz', 'Norman Taurog', 'King Vidor', 'Michael Curtiz'], 1939: ['Sam Wood', 'Frank Capra', 'John Ford', 'William Wyler', 'Victor Fleming'], 1940: ['John Ford', 'Sam Wood', 'William Wyler', 'George Cukor', 'Alfred Hitchcock'], 1941: ['John Ford', 'Orson Welles', 'Alexander Hall', 'William Wyler', 'Howard Hawks'], 1942: ['Sam Wood', 'Mervyn LeRoy', 'John Farrow', 'Michael Curtiz', 'William Wyler'], 1943: ['Michael Curtiz', 'Ernst Lubitsch', 'Clarence Brown', 'George Stevens', 'Henry King'], 1944: ['Leo McCarey', 'Billy Wilder', 'Otto Preminger', 'Alfred Hitchcock', 'Henry King'], 1945: ['Billy Wilder', 'Leo McCarey', 'Clarence Brown', 'Jean Renoir', 'Alfred Hitchcock'], 1946: ['David Lean', 'Frank Capra', 'Robert Siodmak', 'Clarence Brown', 'William Wyler'], 1947: ['Elia Kazan', 'Henry Koster', 'Edward Dmytryk', 'George Cukor', 'David Lean'], 1948: ['John Huston', 'Laurence Olivier', 'Jean Negulesco', 'Fred Zinnemann', 'Anatole Litvak'], 1949: ['Joseph L. Mankiewicz', 'Robert Rossen', 'William A. Wellman', 'Carol Reed', 'William Wyler'], 1950: ['Joseph L. Mankiewicz', 'John Huston', 'George Cukor', 'Billy Wilder', 'Carol Reed'], 1951: ['George Stevens', 'John Huston', 'Vincente Minnelli', 'William Wyler', 'Elia Kazan'], 1952: ['John Ford', 'Joseph L. Mankiewicz', 'Cecil B. DeMille', 'Fred Zinnemann', 'John Huston'], 1953: ['Fred Zinnemann', 'Charles Walters', 'William Wyler', 'George Stevens', 'Billy Wilder'], 1954: ['Elia Kazan', 'George Seaton', 'William Wellman', 'Alfred Hitchcock', 'Billy Wilder'], 1955: ['Delbert Mann', 'John Sturges', 'Elia Kazan', 'Joshua Logan', 'David Lean'], 1956: ['George Stevens', 'Michael Anderson', 'William Wyler', 'Walter Lang', 'King Vidor'], 1957: ['David Lean', 'Mark Robson', 'Joshua Logan', 'Sidney Lumet', 'Billy Wilder'], 1958: ['Richard Brooks', 'Stanley Kramer', 'Robert Wise', 'Mark Robson', 'Vincente Minnelli'], 1959: ['George Stevens', 'Fred Zinnemann', 'Jack Clayton', 'Billy Wilder', 'William Wyler'], 1960: ['Billy Wilder', 'Jules Dassin', 'Alfred Hitchcock', 'Jack Cardiff', 'Fred Zinnemann'], 1961: ['J. Lee Thompson', 'Robert Rossen', 'Stanley Kramer', 'Federico Fellini', 'Robert Wise', 'Jerome Robbins'], 1962: ['David Lean', 'Frank Perry', 'Pietro Germi', 'Arthur Penn', 'Robert Mulligan'], 1963: ['Elia Kazan', 'Otto Preminger', 'Federico Fellini', 'Martin Ritt', 'Tony Richardson'], 1964: ['George Cukor', 'Peter Glenville', 'Stanley Kubrick', 'Robert Stevenson', 'Michael Cacoyannis'], 1965: ['William Wyler', 'John Schlesinger', 'David Lean', 'Hiroshi Teshigahara', 'Robert Wise'], 1966: ['Fred Zinnemann', 'Michelangelo Antonioni', 'Claude Lelouch', 'Richard Brooks', 'Mike Nichols'], 1967: ['Arthur Penn', 'Stanley Kramer', 'Richard Brooks', 'Norman Jewison', 'Mike Nichols'], 1968: ['Carol Reed', 'Gillo Pontecorvo', 'Anthony Harvey', 'Franco Zeffirelli', 'Stanley Kubrick'], 1969: ['John Schlesinger', 'Arthur Penn', 'George Roy Hill', 'Sydney Pollack', 'Costa-Gavras'], 1970: ['Franklin J. Schaffner', 'Federico Fellini', 'Arthur Hiller', 'Robert Altman', 'Ken Russell'], 1971: ['Stanley Kubrick', 'Norman Jewison', 'Peter Bogdanovich', 'John Schlesinger', 'William Friedkin'], 1972: ['Bob Fosse', 'John Boorman', 'Jan Troell', 'Francis Ford Coppola', 'Joseph L. Mankiewicz'], 1973: ['George Roy Hill', 'George Lucas', 'Ingmar Bergman', 'William Friedkin', 'Bernardo Bertolucci'], 1974: ['Francis Ford Coppola', 'Roman Polanski', 'Francois Truffaut', 'Bob Fosse', 'John Cassavetes'], 1975: ['Federico Fellini', 'Stanley Kubrick', 'Sidney Lumet', 'Robert Altman', 'Milos Forman'], 1976: ['Alan J. Pakula', 'Ingmar Bergman', 'Sidney Lumet', 'Lina Wertmuller', 'John G. Avildsen'], 1977: ['Steven Spielberg', 'Fred Zinnemann', 'George Lucas', 'Herbert Ross', 'Woody Allen'], 1978: ['Hal Ashby', 'Warren Beatty', 'Buck Henry', 'Woody Allen', 'Alan Parker', 'Michael Cimino'], 1979: ['Bob Fosse', 'Francis Coppola', 'Peter Yates', 'Edouard Molinaro', 'Robert Benton'], 1980: ['David Lynch', 'Martin Scorsese', 'Richard Rush', 'Roman Polanski', 'Robert Redford'], 1981: ['Louis Malle', 'Hugh Hudson', 'Mark Rydell', 'Steven Spielberg', 'Warren Beatty'], 1982: ['Wolfgang Petersen', 'Steven Spielberg', 'Sydney Pollack', 'Sidney Lumet', 'Richard Attenborough'], 1983: ['Peter Yates', 'Ingmar Bergman', 'Mike Nichols', 'Bruce Beresford', 'James L. Brooks'], 1984: ['Woody Allen', 'Roland Joffe', 'David Lean', 'Robert Benton', 'Milos Forman'], 1985: ['Hector Babenco', 'John Huston', 'Akira Kurosawa', 'Peter Weir', 'Sydney Pollack'], 1986: ['David Lynch', 'Woody Allen', 'Roland Joffe', 'James Ivory', 'Oliver Stone'], 1987: ['Bernardo Bertolucci', 'Adrian Lyne', 'John Boorman', 'Norman Jewison', 'Lasse Hallstrom'], 1988: ['Barry Levinson', 'Charles Crichton', 'Martin Scorsese', 'Alan Parker', 'Mike Nichols'], 1989: ['Woody Allen', 'Peter Weir', 'Kenneth Branagh', 'Jim Sheridan', 'Oliver Stone'], 1990: ['Francis Ford Coppola', 'Martin Scorsese', 'Stephen Frears', 'Barbet Schroeder', 'Kevin Costner'], 1991: ['John Singleton', 'Barry Levinson', 'Oliver Stone', 'Ridley Scott', 'Jonathan Demme'], 1992: ['Clint Eastwood', 'Neil Jordan', 'James Ivory', 'Robert Altman', 'Martin Brest'], 1993: ['Jim Sheridan', 'Jane Campion', 'James Ivory', 'Robert Altman', 'Steven Spielberg'], 1994: ['Woody Allen', 'Quentin Tarantino', 'Robert Redford', 'Krzysztof Kieslowski', 'Robert Zemeckis'], 1995: ['Chris Noonan', 'Tim Robbins', 'Mike Figgis', 'Michael Radford', 'Mel Gibson'], 1996: ['Anthony Minghella', 'Joel Coen', 'Milos Forman', 'Mike Leigh', 'Scott Hicks'], 1997: ['Peter Cattaneo', 'Gus Van Sant', 'Curtis Hanson', 'Atom Egoyan', 'James Cameron'], 1998: ['Roberto Benigni', 'John Madden', 'Terrence Malick', 'Peter Weir', 'Steven Spielberg'], 1999: ['Spike Jonze', 'Lasse Hallstrom', 'Michael Mann', 'M. Night Shyamalan', 'Sam Mendes'], 2000: ['Stephen Daldry', 'Ang Lee', 'Steven Soderbergh', 'Ridley Scott', 'Steven Soderbergh'], 2001: ['Ridley Scott', 'Robert Altman', 'Peter Jackson', 'David Lynch', 'Ron Howard'], 2002: ['Rob Marshall', 'Martin Scorsese', 'Stephen Daldry', 'Pedro Almodovar', 'Roman Polanski'], 2003: ['Fernando Meirelles', 'Sofia Coppola', 'Peter Weir', 'Clint Eastwood', 'Peter Jackson'], 2004: ['Martin Scorsese', 'Taylor Hackford', 'Alexander Payne', 'Mike Leigh', 'Clint Eastwood'], 2005: ['Ang Lee', 'Bennett Miller', 'Paul Haggis', 'George Clooney', 'Steven Spielberg'], 2006: ['Alejandro Gonzaalez Inarritu', 'Clint Eastwood', 'Stephen Frears', 'Paul Greengrass', 'Martin Scorsese'], 2007: ['Julian Schnabel', 'Jason Reitman', 'Tony Gilroy', 'Paul Thomas Anderson', 'Joel Coen', 'Ethan Coen'], 2008: ['David Fincher', 'Ron Howard', 'Gus Van Sant', 'Stephen Daldry', 'Danny Boyle'], 2009: ['James Cameron', 'Quentin Tarantino', 'Lee Daniels', 'Jason Reitman', 'Kathryn Bigelow'], 2010: ['Darren Aronofsky', 'David O. Russell', 'David Fincher', 'Ethan Coen', 'Joel Coen', 'Tom Hooper']}
winners = {1931: ['Norman Taurog'], 1932: ['Frank Borzage'], 1933: ['Frank Lloyd'], 1934: ['Frank Capra'], 1935: ['John Ford'], 1936: ['Frank Capra'], 1937: ['Leo McCarey'], 1938: ['Frank Capra'], 1939: ['Victor Fleming'], 1940: ['John Ford'], 1941: ['John Ford'], 1942: ['William Wyler'], 1943: ['Michael Curtiz'], 1944: ['Leo McCarey'], 1945: ['Billy Wilder'], 1946: ['William Wyler'], 1947: ['Elia Kazan'], 1948: ['John Huston'], 1949: ['Joseph L. Mankiewicz'], 1950: ['Joseph L. Mankiewicz'], 1951: ['George Stevens'], 1952: ['John Ford'], 1953: ['Fred Zinnemann'], 1954: ['Elia Kazan'], 1955: ['Delbert Mann'], 1956: ['George Stevens'], 1957: ['David Lean'], 1958: ['Vincente Minnelli'], 1959: ['William Wyler'], 1960: ['Billy Wilder'], 1961: ['Jerome Robbins', 'Robert Wise'], 1962: ['David Lean'], 1963: ['Tony Richardson'], 1964: ['George Cukor'], 1965: ['Robert Wise'], 1966: ['Fred Zinnemann'], 1967: ['Mike Nichols'], 1968: ['Carol Reed'], 1969: ['John Schlesinger'], 1970: ['Franklin J. Schaffner'], 1971: ['William Friedkin'], 1972: ['Bob Fosse'], 1973: ['George Roy Hill'], 1974: ['Francis Ford Coppola'], 1975: ['Milos Forman'], 1976: ['John G. Avildsen'], 1977: ['Woody Allen'], 1978: ['Michael Cimino'], 1979: ['Robert Benton'], 1980: ['Robert Redford'], 1981: ['Warren Beatty'], 1982: ['Richard Attenborough'], 1983: ['James L. Brooks'], 1984: ['Milos Forman'], 1985: ['Sydney Pollack'], 1986: ['Oliver Stone'], 1987: ['Bernardo Bertolucci'], 1988: ['Barry Levinson'], 1989: ['Oliver Stone'], 1990: ['Kevin Costner'], 1991: ['Jonathan Demme'], 1992: ['Clint Eastwood'], 1993: ['Steven Spielberg'], 1994: ['Robert Zemeckis'], 1995: ['Mel Gibson'], 1996: ['Anthony Minghella'], 1997: ['James Cameron'], 1998: ['Steven Spielberg'], 1999: ['Sam Mendes'], 2000: ['Steven Soderbergh'], 2001: ['Ron Howard'], 2002: ['Roman Polanski'], 2003: ['Peter Jackson'], 2004: ['Clint Eastwood'], 2005: ['Ang Lee'], 2006: ['Martin Scorsese'], 2007: ['Ethan Coen', 'Joel Coen'], 2008: ['Danny Boyle'], 2009: ['Kathryn Bigelow'], 2010: ['Tom Hooper']}

In [79]:
nom_count_dict = {}
for year, list_dir in nominated.items():
    for director in list_dir:
        if director not in nom_count_dict:
            nom_count_dict[director] = 1
        else:
            nom_count_dict[director] = nom_count_dict[director] + 1
print(nom_count_dict)

{'Norman Taurog': 2, 'Wesley Ruggles': 1, 'Clarence Brown': 4, 'Lewis Milestone': 1, 'Josef Von Sternberg': 2, 'Frank Borzage': 1, 'King Vidor': 3, 'Frank Lloyd': 2, 'Frank Capra': 6, 'George Cukor': 5, 'Victor Schertzinger': 1, 'W. S. Van Dyke': 2, 'John Ford': 5, 'Michael Curtiz': 5, 'Henry Hathaway': 1, 'William Wyler': 12, 'Robert Z. Leonard': 1, 'Gregory La Cava': 2, 'Leo McCarey': 3, 'Sidney Franklin': 1, 'William Dieterle': 1, 'William Wellman': 2, 'Sam Wood': 3, 'Victor Fleming': 1, 'Alfred Hitchcock': 5, 'Orson Welles': 1, 'Alexander Hall': 1, 'Howard Hawks': 1, 'Mervyn LeRoy': 1, 'John Farrow': 1, 'Ernst Lubitsch': 1, 'George Stevens': 5, 'Henry King': 2, 'Billy Wilder': 8, 'Otto Preminger': 2, 'Jean Renoir': 1, 'David Lean': 7, 'Robert Siodmak': 1, 'Elia Kazan': 5, 'Henry Koster': 1, 'Edward Dmytryk': 1, 'John Huston': 5, 'Laurence Olivier': 1, 'Jean Negulesco': 1, 'Fred Zinnemann': 7, 'Anatole Litvak': 1, 'Joseph L. Mankiewicz': 4, 'Robert Rossen': 2, 'William A. Wellman': 1, 'Carol Reed': 3, 'Vincente Minnelli': 2, 'Cecil B. DeMille': 1, 'Charles Walters': 1, 'George Seaton': 1, 'Delbert Mann': 1, 'John Sturges': 1, 'Joshua Logan': 2, 'Michael Anderson': 1, 'Walter Lang': 1, 'Mark Robson': 2, 'Sidney Lumet': 4, 'Richard Brooks': 3, 'Stanley Kramer': 3, 'Robert Wise': 3, 'Jack Clayton': 1, 'Jules Dassin': 1, 'Jack Cardiff': 1, 'J. Lee Thompson': 1, 'Federico Fellini': 4, 'Jerome Robbins': 1, 'Frank Perry': 1, 'Pietro Germi': 1, 'Arthur Penn': 3, 'Robert Mulligan': 1, 'Martin Ritt': 1, 'Tony Richardson': 1, 'Peter Glenville': 1, 'Stanley Kubrick': 4, 'Robert Stevenson': 1, 'Michael Cacoyannis': 1, 'John Schlesinger': 3, 'Hiroshi Teshigahara': 1, 'Michelangelo Antonioni': 1, 'Claude Lelouch': 1, 'Mike Nichols': 4, 'Norman Jewison': 3, 'Gillo Pontecorvo': 1, 'Anthony Harvey': 1, 'Franco Zeffirelli': 1, 'George Roy Hill': 2, 'Sydney Pollack': 3, 'Costa-Gavras': 1, 'Franklin J. Schaffner': 1, 'Arthur Hiller': 1, 'Robert Altman': 5, 'Ken Russell': 1, 'Peter Bogdanovich': 1, 'William Friedkin': 2, 'Bob Fosse': 3, 'John Boorman': 2, 'Jan Troell': 1, 'Francis Ford Coppola': 3, 'George Lucas': 2, 'Ingmar Bergman': 3, 'Bernardo Bertolucci': 2, 'Roman Polanski': 3, 'Francois Truffaut': 1, 'John Cassavetes': 1, 'Milos Forman': 3, 'Alan J. Pakula': 1, 'Lina Wertmuller': 1, 'John G. Avildsen': 1, 'Steven Spielberg': 6, 'Herbert Ross': 1, 'Woody Allen': 6, 'Hal Ashby': 1, 'Warren Beatty': 2, 'Buck Henry': 1, 'Alan Parker': 2, 'Michael Cimino': 1, 'Francis Coppola': 1, 'Peter Yates': 2, 'Edouard Molinaro': 1, 'Robert Benton': 2, 'David Lynch': 3, 'Martin Scorsese': 6, 'Richard Rush': 1, 'Robert Redford': 2, 'Louis Malle': 1, 'Hugh Hudson': 1, 'Mark Rydell': 1, 'Wolfgang Petersen': 1, 'Richard Attenborough': 1, 'Bruce Beresford': 1, 'James L. Brooks': 1, 'Roland Joffe': 2, 'Hector Babenco': 1, 'Akira Kurosawa': 1, 'Peter Weir': 4, 'James Ivory': 3, 'Oliver Stone': 3, 'Adrian Lyne': 1, 'Lasse Hallstrom': 2, 'Barry Levinson': 2, 'Charles Crichton': 1, 'Kenneth Branagh': 1, 'Jim Sheridan': 2, 'Stephen Frears': 2, 'Barbet Schroeder': 1, 'Kevin Costner': 1, 'John Singleton': 1, 'Ridley Scott': 3, 'Jonathan Demme': 1, 'Clint Eastwood': 4, 'Neil Jordan': 1, 'Martin Brest': 1, 'Jane Campion': 1, 'Quentin Tarantino': 2, 'Krzysztof Kieslowski': 1, 'Robert Zemeckis': 1, 'Chris Noonan': 1, 'Tim Robbins': 1, 'Mike Figgis': 1, 'Michael Radford': 1, 'Mel Gibson': 1, 'Anthony Minghella': 1, 'Joel Coen': 3, 'Mike Leigh': 2, 'Scott Hicks': 1, 'Peter Cattaneo': 1, 'Gus Van Sant': 2, 'Curtis Hanson': 1, 'Atom Egoyan': 1, 'James Cameron': 2, 'Roberto Benigni': 1, 'John Madden': 1, 'Terrence Malick': 1, 'Spike Jonze': 1, 'Michael Mann': 1, 'M. Night Shyamalan': 1, 'Sam Mendes': 1, 'Stephen Daldry': 3, 'Ang Lee': 2, 'Steven Soderbergh': 2, 'Peter Jackson': 2, 'Ron Howard': 2, 'Rob Marshall': 1, 'Pedro Almodovar': 1, 'Fernando Meirelles': 1, 'Sofia Coppola': 1, 'Taylor Hackford': 1, 'Alexander Payne': 1, 'Bennett Miller': 1, 'Paul Haggis': 1, 'George Clooney': 1, 'Alejandro Gonzaalez Inarritu': 1, 'Paul Greengrass': 1, 'Julian Schnabel': 1, 'Jason Reitman': 2, 'Tony Gilroy': 1, 'Paul Thomas Anderson': 1, 'Ethan Coen': 2, 'David Fincher': 2, 'Danny Boyle': 1, 'Lee Daniels': 1, 'Kathryn Bigelow': 1, 'Darren Aronofsky': 1, 'David O. Russell': 1, 'Tom Hooper': 1}